

BODY {font-size: 16px;}
INPUT, BUTTON, SELECT, TEXTAREA {font-size: 16px;}


.clearFix:before,
.clearFix:after {
	display: table;
	content: '';
	clear: both;
	opacity: 0;
	visibility: hidden;
}
.ui-btn {display: inline-block; width: 100%; max-width: 300px; height: 40px; border: 1px #CCC solid; background-color: #CCC; -webkit-border-radius: 5px; border-radius: 5px; background-color: white; cursor: pointer;}


#game-board {
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -360px; 
	margin-top: -268px;
	width: 720px; height: 576px;
	background-color: #999;
}



/* Panel */
.panel {
	position: absolute;
	top: 0;
	height: 100%;
}
.panel.game {
	left: 0; 
	width: 500px; 
}

.panel.user {
	right: 0; 
	/*padding: 20px;*/
	width: 220px;
	background-color: #666;
}


.panel.user .container {
	padding: 20px 10px;
}

.panel.user .container.branding {
	border-bottom: 1px #CCC solid;
}
.panel.user .container.branding H1 {
	color: white;
	font-size: 24px;
	text-align: center;
}

.panel.user .container.control {
	position: absolute;
	right: 0; bottom: 0;
	width: 100%;
	padding: 10px;
	/*background-color: red;*/
}

.panel.user .container.details .score .number {
	font-size: 22px;
	color: white;
}




/* Screen */
.screen {
	position: absolute;
	left: 0; top: 0;
	padding: 50px;
	width: 100%; height: 100%;
	background-color: #EEE;
}
.screen .card-list {
	list-style: none;
	margin: 0;
}
.screen .list-item {
	position: relative;
	float: left;
	width: 25%; height: 120px;
}
.screen .card {
	display: block;
	position: absolute;
	left: 5%; top: 5%;
	width: 90%; height: 90%;
	cursor: pointer;
	background-color: red;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.screen .card:hover {
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
	box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}
.screen .card.cover {
	background-image: url(../images/card-front.gif);
	background-size: cover;
	z-index: 10;
	visibility: hidden;
}
.screen .card.content {
	background-color: #CCC;
	/*visibility: hidden;*/
}

.screen .list-item.opened .card {background-color: red;}
.screen .list-item.matched .card {background-color: green;}


